header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

#container {
    grid-area: container;
}

footer {
    grid-area: footer;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "container container"
    "footer footer";
    grid-template-columns: 1fr 1fr;
}